"pullToRefresh": "Desliza para refrescar"
"retry": "Reintentar"
"back": "Regresar"
"error": "Ha ocurrido un error, inténtalo de nuevo."
"attemptToConnect": "Attempt to connect {{attempt}} of {{attemptMax}}."
"yes": "Sí"
"no" : "No"
"emptyList" : "No se han encontrado publicaciones!"
"menu":
    "title": "Menu"
    "home": "Inicio"
    "tags": "Etiquetas"
    "pages": "Pages"
    "posts": "Posts"
    "authors": "Authors"
    "search": "Buscar"
    "bookmarks": "Favoritos"
    "socialNetworks": "Redes Sociales"
    "categories": "Categorías"
    "settings": "Configuración"
    "customPosts": "Custom posts"
    "customTaxonomy": "Custom Taxonomy"
"pushNotifications":
    "newContent":
        "title": "Nueva publicación!"
        "text": "Se ha publicado un nuevo artículo: '{{postTitle}}' en {{appTitle}}, ¿quieres leerlo?"
"bookmark":
    "title": "Favoritos"
    "emptyList" : "No has guardado nada aún!"
    "bookmarked" : "Añadido a favoritos!"
    "removed" : "Eliminado de favoritos!"
"tags":
    "title": "Etiquetas"
"tag":
    "title": "Etiqueta: {{name}}"
"customTaxonomy":
    "title": "{{term}}: {{name}}"
"categories":
    "title": "Categorías"
"category":
    "title": "Categoría {{name}}"
"home":
    "title": "Inicio"
"search":
    "inputPlaceholder": "Buscar"
    "title": "Search"
    "titleQuery": "Buscar: {{query}}"
"sharing":
    "shared": "Compartido!"
"authors":
    "title": "Authors"
"author":
    "title": "Author: {{name}}"
"pages":
    "title": "Pages"
"posts":
    "title": "Posts"
    "featured": "Destacado"
"post":
    "comments": "Comments"
    "openInBrowser": "Abrir en el navegador"
"about":
    "title": "Acerca de"
"params":
    "title": "Parámetros"
    "offlineMode": "Modo Offline (próximamente)"
    "fontSize": "Tamaño de la fuente"
    "language": "Idioma"
"languages":
    "en": "English"
    "fr": "French"
    "zh": "Chinese"
    "es": "Spanish"
    "pl": "Polaco"
    "de": "Alemán"
    "pt": "Portugués"
    "it": "Italiano"
    "nl": "Holandés"
"fontSize":
    "small": "Pequeña"
    "medium": "Mediana"
    "large": "Grande"
    "x-large": "Muy grande"
    "xx-large": "Extra grande"
