"pullToRefresh": "下拉刷新！"
"retry": "重试"
"back": "返回"
"error": "系统遭遇未知错误，请重试。"
"attemptToConnect": "正在尝试第 {{attempt}} 次连接（最多 {{attemptMax}} 次）"
"yes": "是"
"no" : "否"
"emptyList" : "暂时没有文章！"
"menu":
    "title": "菜单"
    "home": "首页"
    "tags": "标签"
    "pages": "页面"
    "authors": "作者"
    "posts": "博文"
    "search": "搜索"
    "bookmarks": "收藏"
    "socialNetworks": "社交网络"
    "categories": "分类"
    "settings": "设置"
    "customPosts": "自定义博文"
    "customTaxonomy": "自定义分类"
"pushNotifications":
    "newContent":
        "title": "新内容发布！"
        "text": "【{{appTitle}}】刚刚发表了文章《{{postTitle}}》，现在就打开阅读吧？"
"bookmark":
    "title": "收藏夹"
    "emptyList" : "暂无收藏内容！"
    "bookmarked" : "已收藏！"
    "removed" : "移除收藏！"
"tags":
    "title": "标签"
"tag":
    "title": "标签：{{name}}"
"customTaxonomy":
    "title": "{{term}}: {{name}}"
"categories":
    "title": "分类"
"category":
    "title": "分类：{{name}}"
"home":
    "title": "首页"
"search":
    "inputPlaceholder": "搜索"
    "title": "搜索"
    "titleQuery": "搜索：{{query}}"
"sharing":
    "shared": "已分享！"
"authors":
    "title": "作者"
"author":
    "title": "作者: {{name}}"
"pages":
    "title": "页面"
"posts":
    "title": "博文"
    "featured": "推荐"
"post":
    "comments": "评论"
    "openInBrowser": "用浏览器打开"
"about":
    "title": "关于"
"params":
    "title": "参数"
    "offlineMode": "离线模式（即将发布）"
    "fontSize": "文章字号"
    "language": "界面语言"
"languages":
    "en": "英语"
    "fr": "法语"
    "zh": "中文"
    "es": "西班牙语"
    "pl": "波兰语"
    "de": "德语"
    "pt": "葡萄牙语"
    "it": "意大利"
    "nl": "荷兰人"
"fontSize":
    "small": "小"
    "medium": "中"
    "large": "大"
    "x-large": "稍大"
    "xx-large": "超大"
