{
    "api": {
        "baseUrl": "http://yourDomain.com/wp-json",
        "timeout": 10000
    },
    "debugEnabled": true,
    "title": "[DEV] Your Blog title",
    "translation": {
        "displayed" : ["en", "fr", "zh", "es", "pl", "de"],
        "prefered": "en"
    }
}
