{
    "api": {
        "baseUrl": ""
    },
    "menu": {
        "wordpress": {
            "menu.home": "public.home",
            "menu.categories": "public.taxonomies({ term: 'category' })",
            "menu.tags": "public.taxonomies({ term: 'post_tag' })"
        },
        "social": [{
            "name": "facebook",
            "url": "https://www.facebook.com/julienrenauxblog"
        }, {
            "name": "twitter",
            "url": "https://www.facebook.com/julienrenauxblog"
        }, {
            "name": "googleplus",
            "url": "https://www.facebook.com/julienrenauxblog"
        }]
    },
    "cache": {
        "views": 10,
        "data": {
            "capacity": 100,
            "maxAge": 21600000,
            "deleteOnExpire": "aggressive",
            "recycleFreq": 1000,
            "cacheFlushInterval": null,
            "storageMode": "localStorage",
            "verifyIntegrity": true
        }
    },
    "post": {
        "cache": {
            "maxAge": 172800000,
            "capacity": 10
        }
    },
    "taxonomies": {
        "cache": {
            "maxAge": 172800000
        }
    },
    "posts": {
        "posts_per_page": 6,
        "orderby": "date",
        "orderby": "desc",
        "post_status": "publish",
        "cache": {
            "capacity": 100,
            "maxAge": 86400000
        }
    },
    "translation": {
        "available": {
            "en": {
                "en_US": "en",
                "en_UK": "en"
            },
            "fr": {
                "fr_FR": "fr"
            }
        },
        "prefered": "en"
    },
    "style": {
        "bootstrapSupport": true,
        "googleFont": {
            "families": ["Raleway::latin"],
            "fontFamily": "'Raleway', sans-serif"
        },
        "palette": {
            "50": "ffebee",
            "100": "ffcdd2",
            "200": "ef9a9a",
            "300": "e57373",
            "400": "ef5350",
            "500": "f44336",
            "600": "e53935",
            "700": "d32f2f",
            "800": "c62828",
            "900": "b71c1c",
            "A100": "ff8a80",
            "A200": "ff5252",
            "A400": "ff1744",
            "A700": "d50000"
        }
    }
}
