{
    "api": {
        "baseUrl": "yourWpApi/wp-json"
    },
    "menu": {
        "menu.home": "public.home",
        "menu.categories": "public.taxonomies({ term: 'category' })",
        "menu.tags": "public.taxonomies({ term: 'post_tag' })"
    },
    "cache": {
        "views": 10
    },
    "posts": {
        "posts_per_page": 5,
        "orderby": "date",
        "orderby": "desc",
        "post_status": "publish"
    },
    "translation": {
        "available": {
            "en": {
                "en_US": "en",
                "en_UK": "en"
            },
            "fr": {
                "fr_FR": "fr"
            }
        },
        "prefered": "en"
    }
}
