<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<widget id="com.ionicframework.wordpresshybridclient" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>wordpress-hybrid-client</name>
    <description>
        AngularJS client using Ionic Framework and based on the json-rest-api plugin: https://wordpress.org/plugins/json-rest-api/ with CORS enabled.
    </description>
    <author email="contact@julienrenaux.fr" href="http://julienrenaux.fr/">
        Julien Renaux
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
    <resources>
        <integer name="google_play_services_version">4323000</integer>
    </resources>
</widget>