#!/bin/sh

set -e

read -p "Release major, minor or patch? " version
version=${version:-"patch"}

# updgrade version before release
gulp bump --${version}

# package the app
gulp build:prod

# Build the app
ionic build android ios --release

jarsigner -verbose -sigalg SHA1withRSA -digestalg SHA1 -keystore ~/.ssh/android_wphc.keystore platforms/android/build/outputs/apk/android-x86-release-unsigned.apk wphc
jarsigner -verify -certs platforms/android/build/outputs/apk/android-x86-release-unsigned.apk
~/Library/Android/sdk/build-tools/21.1.2/zipalign -vf 4 platforms/android/build/outputs/apk/android-x86-release-unsigned.apk build/wphc-android-x86.apk

jarsigner -verbose -sigalg SHA1withRSA -digestalg SHA1 -keystore ~/.ssh/android_wphc.keystore platforms/android/build/outputs/apk/android-armv7-release-unsigned.apk wphc
jarsigner -verify -certs platforms/android/build/outputs/apk/android-armv7-release-unsigned.apk
~/Library/Android/sdk/build-tools/21.1.2/zipalign -vf 4 platforms/android/build/outputs/apk/android-armv7-release-unsigned.apk build/wphc-android-armv7.apk
