PULL_TO_REFRESH: "Ziehen zum Aktualisieren!"
RETRY: "Wiederholen"
CANCEL: "Cancel"
SUBMIT: "Submit"
BACK: "Zurück"
ERROR: "Etwas ging schief. Bitte erneut versuchen."
ATTEMPT_TO_CONNECT: "Verbinden: Versuch(e) {{attempt}} von {{attemptMax}}."
OK: "Ok"
YES: "Ja"
NO: "Nein"
EMPTY_LIST: "Keine Inhalte bisher!"
MENU: "Menü"
HOME: "Startseite"
TAGS: "Tags"
PAGES: "Pages"
POSTS: "Posts"
AUTHORS: "Autoren"
SEARCH: "Suche"
SOCIAL_NETWORKS: "Soziale Netzwerke"
CATEGORIES: "Kategorien"
SETTINGS: "Einstellungen"
CUSTOM_POSTS: "Custom posts"
CUSTOM_TAXO: "Custom Taxonomy"
CUSTOM_TAXO_TITLE: "{{term}}: {{name}}"
PUSH_NOTIFS: "Push notifications"
PUSH_NOTIF_TITLE: "Neue Inhalte!"
PUSH_NOTIF_TEXT: "Neu! Seite/Beitrag: '{{postTitle}}' wurde in {{appTitle}} veröffentlich, willst du es dir jetzt ansehen?"
BOOKMARKS: "Lesenzeichen"
BOOKMARKS_EMPTY: "Bisher noch nichts gespeichert!"
BOOKMARK_ADDED : "Lesezeichen gespeichert!"
BOOKMARK_REMOVED: "Lesezeichen gelöscht!"
ZOOM: "Zoom"
CACHE_CLEAR: "Clear cache"
CACHE_CLEARED: "Cache cleared"
"tags":
    "title": "Tags"
"tag":
    "title": "Tag: {{name}}"
"categories":
    "title": "Kategorien"
"category":
    "title": "Kategorie: {{name}}"
"home":
    "title": "Startseite"
"search":
    "inputPlaceholder": "Suche"
    "title": "Suche"
    "titleQuery": "Suche: {{query}}"
"sharing":
    "shared": "Geteilt!"
AUTHORS: "Autoren"
AUTHOR: "Autor"
AUTHOR_TITLE: "Autor: {{name}}"
"pages":
    "title": "Pages"
"posts":
    "title": "Posts"
    "featured": "Hervorgehoben"
"post":
    "comments": "Kommentare"
    "openInBrowser": "Im Browser öffnen"
"about":
    "title": "Über"
"languages":
    "de": "Deutsch"
    "en": "English"
    "fr": "Französisch"
    "zh": "Chinesich"
    "es": "Spanisch"
    "pl": "Polnisch"
    "pt": "Portugiesisch"
    "it": "Italienisch"
    "nl": "Holländisch"
    "ru": "Russisch"
