PULL_TO_REFRESH: "Pull to refresh!"
RETRY: "Retry"
CANCEL: "Cancel"
SUBMIT: "Submit"
BACK: "Back"
ERROR: "Something wrong happened, please try again."
ATTEMPT_TO_CONNECT: "Attempt to connect {{attempt}} of {{attemptMax}}."
OK: "Ok"
YES: "Yes"
NO: "No"
EMPTY_LIST: "There is nothing here!"
ENABLED: "Enabled"
MENU: "Menu"
HOME: "Home"
TAGS: "Tags"
PAGES: "Pages"
POSTS: "Posts"
AUTHORS: "Authors"
SEARCH: "Search"
SOCIAL_NETWORKS: "Social Networks"
CATEGORIES: "Categories"
SETTINGS: "Settings"
CUSTOM_POSTS: "Custom posts"
CUSTOM_TAXO: "Custom Taxonomy"
CUSTOM_TAXO_TITLE: "{{term}}: {{name}}"
PUSH_NOTIFS: "Push notifications"
PUSH_NOTIF_TITLE: "New content!"
PUSH_NOTIF_TEXT: "A new Post/Page: '{{postTitle}}' has been released on {{appTitle}}, do you want to open it?"
BOOKMARKS: "Bookmarks"
BOOKMARKS_EMPTY: "Nothing bookmarked yet!"
BOOKMARK_ADDED: "Bookmarked!"
BOOKMARK_REMOVED: "Bookmark removed!"
ZOOM: "Zoom"
CACHE_CLEAR: "Clear cache"
CACHE_CLEAR_PROMPT: "This cannot be undone!"
CACHE_CLEARED: "Cache cleared"
"tags":
    "title": "Tags"
"tag":
    "title": "Tag: {{name}}"
"categories":
    "title": "Categories"
"category":
    "title": "Category: {{name}}"
"home":
    "title": "Home"
"search":
    "inputPlaceholder": "Search"
    "title": "Search"
    "titleQuery": "Search: {{query}}"
"sharing":
    "shared": "Shared!"
AUTHORS: "Authors"
AUTHOR: "Author"
AUTHOR_TITLE: "Author: {{name}}"
"pages":
    "title": "Pages"
"posts":
    "title": "Posts"
    "featured": "Featured"
"post":
    "comments": "Comments"
    "openInBrowser": "Open in browser"
"about":
    "title": "About"
"languages":
    "en": "English"
    "fr": "French"
    "zh": "Chinese"
    "es": "Spanish"
    "pl": "Polish"
    "de": "German"
    "pt": "Portuguese"
    "it": "Italian"
    "nl": "Dutch"
    "ru": "Russian"
    "tr": "Turkish"
