PULL_TO_REFRESH: "Desliza para refrescar"
RETRY: "Reintentar"
CANCEL: "Cancel"
SUBMIT: "Submit"
BACK: "Regresar"
ERROR: "Ha ocurrido un error, inténtalo de nuevo."
ATTEMPT_TO_CONNECT: "Attempt to connect {{attempt}} of {{attemptMax}}."
OK: "Ok"
YES: "Sí"
NO: "No"
EMPTY_LIST: "No se han encontrado publicaciones!"
MENU: "Menu"
HOME: "Inicio"
TAGS: "Etiquetas"
PAGES: "Pages"
POSTS: "Posts"
AUTHORS: "Authors"
SEARCH: "Buscar"
SOCIAL_NETWORKS: "Redes Sociales"
CATEGORIES: "Categorías"
SETTINGS: "Configuración"
CUSTOM_POSTS: "Custom posts"
CUSTOM_TAXO: "Custom Taxonomy"
CUSTOM_TAXO_TITLE: "{{term}}: {{name}}"
PUSH_NOTIFS: "Push notifications"
PUSH_NOTIF_TITLE: "Nueva publicación!"
PUSH_NOTIF_TEXT: "Se ha publicado un nuevo artículo: '{{postTitle}}' en {{appTitle}}, ¿quieres leerlo?"
BOOKMARKS: "Favoritos"
BOOKMARKS_EMPTY: "No has guardado nada aún!"
BOOKMARK_ADDED: "Añadido a favoritos!"
BOOKMARK_REMOVED: "Eliminado de favoritos!"
ZOOM: "Zoom"
CACHE_CLEAR: "Clear cache"
CACHE_CLEARED: "Cache cleared"
"tags":
    "title": "Etiquetas"
"tag":
    "title": "Etiqueta: {{name}}"
"categories":
    "title": "Categorías"
"category":
    "title": "Categoría {{name}}"
"home":
    "title": "Inicio"
"search":
    "inputPlaceholder": "Buscar"
    "title": "Search"
    "titleQuery": "Buscar: {{query}}"
"sharing":
    "shared": "Compartido!"
AUTHORS: "Autores"
AUTHOR: "Autor"
AUTHOR_TITLE: "Autor: {{name}}"
"pages":
    "title": "Pages"
"posts":
    "title": "Posts"
    "featured": "Destacado"
"post":
    "comments": "Comments"
    "openInBrowser": "Abrir en el navegador"
"about":
    "title": "Acerca de"
"languages":
    "en": "English"
    "fr": "French"
    "zh": "Chinese"
    "es": "Spanish"
    "pl": "Polaco"
    "de": "Alemán"
    "pt": "Portugués"
    "it": "Italiano"
    "nl": "Holandés"
