PULL_TO_REFRESH: "Omlaag om te herladen!"
RETRY: "Opnieuw"
CANCEL: "Cancel"
SUBMIT: "Submit"
BACK: "Terug"
ERROR: "Er ging iets mis, probeer het opnieuw."
ATTEMPT_TO_CONNECT: "Poging {{attempt}} van {{attemptMax}}. Om te laden"
OK: "Ok"
YES: "Ja"
NO: "Nee"
EMPTY_LIST: "Er is niks hier!"
ENABLED: "Ingeschakeld"
MENU: "Menu"
HOME: "Home"
TAGS: "Tags"
PAGES: "Pagina's"
POSTS: "Berichten"
AUTHORS: "Auteurs"
SEARCH: "Zoeken"
SOCIAL_NETWORKS: "Sociale netwerken"
CATEGORIES: "Categorieën"
SETTINGS: "Instellingen"
CUSTOM_POSTS: "Aangepaste berichten"
CUSTOM_TAXO: "Aangepaste taxanomie"
CUSTOM_TAXO_TITLE: "{{term}}: {{name}}"
PUSH_NOTIFS: "Push berichten"
PUSH_NOTIF_TITLE: "Nieuwe inhoud!"
PUSH_NOTIF_TEXT: "Een nieuwe post/pagina: '{{postTitle}}' is nu op {{appTitle}}, wil je het bekijken?"
BOOKMARKS: "Bladwijzers"
BOOKMARKS_EMPTY: "Nog geen bladwijzers!"
BOOKMARK_ADDED: "Toegevoegd!"
BOOKMARK_REMOVED: "Bladwijzer verwijderd!"
ZOOM: "Zoom"
CACHE_CLEAR: "Clear cache"
CACHE_CLEARED: "Cache cleared"
"tags":
    "title": "Tags"
"tag":
    "title": "Tag: {{name}}"
"categories":
    "title": "Categorieën"
"category":
    "title": "Categorie: {{name}}"
"home":
    "title": "Home"
"search":
    "inputPlaceholder": "Zoeken"
    "title": "Zoek"
    "titleQuery": "Resultaten voor: {{query}}"
"sharing":
    "shared": "Gedeeld!"
AUTHORS: "Auteurs"
AUTHOR: "Auteur"
AUTHOR_TITLE: "Auteur: {{name}}"
"pages":
    "title": "Pagina's"
"posts":
    "title": "Berichten"
    "featured": "Uitgelicht"
"post":
    "comments": "Reactie's"
    "openInBrowser": "Open in browser"
"about":
    "title": "Over"

"languages":
    "en": "Engels"
    "fr": "Frans"
    "zh": "Chinees"
    "es": "Spaans"
    "pl": "Pools"
    "de": "Duits"
    "pt": "Portugees"
    "it": "Italiaans"
    "nl": "Nederlands"
    "ru": "Russisch"
    "tr": "Turks"