PULL_TO_REFRESH: "Потяните чтобы обновить!"
RETRY: "Повторить"
CANCEL: "Cancel"
SUBMIT: "Submit"
BACK: "Назад"
ERROR: "Произошла ошибка. Пожалуйста, повторите."
ATTEMPT_TO_CONNECT: "Попытка соединения {{attempt}} из {{attemptMax}}."
OK: "Ok"
YES: "Да"
NO: "Нет"
EMPTY_LIST: "Ничего не найдено!"
MENU: "Меню"
HOME: "Домой"
TAGS: "Метки"
PAGES: "Страницы"
POSTS: "Записи"
AUTHORS: "Авторы"
SEARCH: "Поиск"
SOCIAL_NETWORKS: "Социальные сети"
CATEGORIES: "Рубрики"
SETTINGS: "Настройки"
CUSTOM_POSTS: "Пользовательские записи"
CUSTOM_TAXO: "Пользовательские ярлыки"
CUSTOM_TAXO_TITLE: "{{term}}: {{name}}"
PUSH_NOTIFS: "Настройки уведомлений"
PUSH_NOTIF_TITLE: "Новый контент!"
PUSH_NOTIF_TEXT: "Новая запись/страница: '{{postTitle}}' была только что добавлена в {{appTitle}}. Хочешь открыть?"
BOOKMARKS: "Закладки"
BOOKMARKS_EMPTY: "Пока нет закладок!"
BOOKMARK_ADDED: "Закладка добавлена!"
BOOKMARK_REMOVED: "Закладка удалена!"
ZOOM: "Zoom"
CACHE_CLEAR: "Clear cache"
CACHE_CLEARED: "Cache cleared"
"tags":
    "title": "Метки"
"tag":
    "title": "Метка: {{name}}"
"categories":
    "title": "Рубрики"
"category":
    "title": "Рубрика: {{name}}"
"home":
    "title": "Домой"
"search":
    "inputPlaceholder": "Поиск"
    "title": "Поиск"
    "titleQuery": "Поиск: {{query}}"
"sharing":
    "shared": "Отправлено!"
AUTHORS: "Авторы"
AUTHOR: "Автор"
AUTHOR_TITLE: "Автор: {{name}}"
"pages":
    "title": "Страницы"
"posts":
    "title": "Записи"
    "featured": "Рекомендуемые"
"post":
    "comments": "Комментарии"
    "openInBrowser": "Открыть в браузере"
"about":
    "title": "Информация"
"languages":
    "en": "Английский"
    "fr": "Французский"
    "zh": "Китайский"
    "es": "Испанский"
    "pl": "Польский"
    "de": "Немецкий"
    "pt": "Португальский"
    "it": "Итальянский"
    "nl": "Голландский"
    "ru": "Русский"