PULL_TO_REFRESH: "Yenilemek için çekin!"
RETRY: "Tekrar Dene"
CANCEL: "Cancel"
SUBMIT: "Submit"
BACK: "Geri"
ERROR: "Bir şeyler ters gitti, lütfen tekrar deneyin."
ATTEMPT_TO_CONNECT: "Tekrar Bağlanılıyor"
OK: "Ok"
YES: "Evet"
NO: "Hayır"
EMPTY_LIST: "Burada bir şey yok!"
ENABLED: "Aktif"
MENU: "Menü"
HOME: "Ana Sayfa"
TAGS: "Etiketler"
PAGES: "Sayfalar"
POSTS: "Yazılar"
AUTHORS: "Yazarlar"
SEARCH: "Ara"
SOCIAL_NETWORKS: "Sosyal Medya"
CATEGORIES: "Kategoriler"
SETTINGS: "Ayarlar"
CUSTOM_POSTS: "Özel Gönderiler"
CUSTOM_TAXO: "Özel Taksonomi"
CUSTOM_TAXO_TITLE: "{{term}}: {{name}}"
PUSH_NOTIFS: "Push Bildirimleri"
PUSH_NOTIF_TITLE: "Yeni Yazı Yayımlandı!"
PUSH_NOTIF_TEXT: "Yeni Yazı/Sayfa: '{{postTitle}}' yayımlandı, açmak ister misiniz?"
BOOKMARKS: "Favoriler"
BOOKMARKS_EMPTY: "Henüz favori yazı yok!"
BOOKMARK_ADDED: "Favorilere eklendi!"
BOOKMARK_REMOVED: "Favorilerden kaldırıldı!"
ZOOM: "Zoom"
CACHE_CLEAR: "Clear cache"
CACHE_CLEARED: "Cache cleared"
"tags":
    "title": "Etiketler"
"tag":
    "title": "Etiket: {{name}}"
"categories":
    "title": "Kategoriler"
"category":
    "title": "Kategori: {{name}}"
"home":
    "title": "Ana sayfa"
"search":
    "inputPlaceholder": "Ara"
    "title": "Ara"
    "titleQuery": "Ara: {{query}}"
"sharing":
    "shared": "Paylaşıldı!"
AUTHORS: "Yazarlar"
AUTHOR: "Yazar"
AUTHOR_TITLE: "Yazar: {{name}}"
"pages":
    "title": "Sayfalar"
"posts":
    "title": "Yazılar"
    "featured": "Öne çıkan"
"post":
    "comments": "Yorumlar"
    "openInBrowser": "Tarayıcıda aç"
"about":
    "title": "Hakkımızda"
"languages":
    "en": "İngilizce"
    "tr": "Türkçe"
    "fr": "Fransızca"
    "zh": "Çince"
    "es": "İspanyolca"
    "pl": "Lehçe (Polonezce)"
    "de": "Almanca"
    "pt": "Portekizce"
    "it": "İtalyanca"
    "nl": "Felemenkçe"
    "ru": "Rusça"