PULL_TO_REFRESH: "کھینچیں نئ چیزوں لوڈ کریں"
RETRY: "پھر کوشش کریں"
CANCEL: "Cancel"
SUBMIT: "Submit"
BACK: "واپس جائیں"
ERROR: "کوی مسلا ھو گیا :) برائے مھربانی دوبارا کوشش کریں، شکریا!۔"
ATTEMPT_TO_CONNECT: " رابتا کیا جا رھا ھے {{attemptMax}} کو {{attempt}}.پھر سے  "
OK: "Ok"
YES: "جی ھاں"
NO: "جی نھیں"
EMPTY_LIST: "یھاں تو کچھ بھی نھیں"
ENABLED: "چالو"
MENU: "مینیو"
HOME: "گھر"
TAGS: "ٹیگز"
PAGES: "صفحات"
POSTS: "پوسٹیں"
AUTHORS: "مصنف"
SEARCH: "تلاش کریں"
SOCIAL_NETWORKS: "سماجی نظام"
CATEGORIES: "بکھرے"
SETTINGS: "سیٹینگز"
CUSTOM_POSTS: "اپنی پوسٹیں"
CUSTOM_TAXO: "اپنی تکسنومی"
CUSTOM_TAXO_TITLE: "{{term}}: {{name}}"
PUSH_NOTIFS: "اطلاحی پیغام"
PUSH_NOTIF_TITLE: "تازا ترین"
PUSH_NOTIF_TEXT: " , کیا آپ اُسے دیکھنا پسند کرینگے؟  {{appTitle}}   شایا ھو چکی ھے'{{postTitle}}'ایک نئی تازا ترین اشات   "
BOOKMARKS: "میری ڈائری"
BOOKMARKS_EMPTY: "ابھی تک کچھ بھی پسند نھی کیا گیا۔ پسند کی ڈائری کھالی ھے"
BOOKMARK_ADDED: "اپنی پسند کی ڈائری میں شامِل کردیا گیا"
BOOKMARK_REMOVED: "اپنی پسند کی ڈائری سے کھارِج کردیا گیا"
ZOOM: "Zoom"
CACHE_CLEAR: "Clear cache"
CACHE_CLEARED: "Cache cleared"
"tags":
    "title": "ٹیگز"
"tag":
    "title": "ٹیگ: {{name}}"
"categories":
    "title": "کیٹاگوریز"
"category":
    "title": "کیٹاگوری: {{name}}"
"home":
    "title": "گھر"
"search":
    "inputPlaceholder": "تلاش کریں"
    "title": "تلاش کریں"
    "titleQuery": "تلاش: {{query}}"
"sharing":
    "shared": "تکصیم کر دیا گیا"
AUTHORS: "مصنف"
AUTHOR: "مصنف"
AUTHOR_TITLE: "مصنف: {{name}}"
"pages":
    "title": "صفحات"
"posts":
    "title": "پوسٹیں"
    "featured": "قابلِ تعریف"
"post":
    "comments": "تزکرے"
    "openInBrowser": "برائوزر میں کھولیں"
"about":
    "title": "تحارف"
"languages":
    "en": "English"
    "fr": "French"
    "zh": "Chinese"
    "es": "Spanish"
    "pl": "Polish"
    "de": "German"
    "pt": "Portuguese"
    "it": "Italian"
    "nl": "Dutch"
    "ru": "Russian"
    "tr": "Turkish"
    "ur": "اُردو"