PULL_TO_REFRESH: "下拉刷新！"
RETRY: "重试"
CANCEL: "Cancel"
SUBMIT: "Submit"
BACK: "返回"
ERROR: "系统遭遇未知错误，请重试。"
ATTEMPT_TO_CONNECT: "正在尝试第 {{attempt}} 次连接（最多 {{attemptMax}} 次）"
OK: "Ok"
YES: "是"
NO: "否"
EMPTY_LIST: "暂时没有文章！"
ENABLED: "启用"
MENU: "菜单"
HOME: "首页"
TAGS: "标签"
PAGES: "页面"
AUTHORS: "作者"
POSTS: "博文"
SEARCH: "搜索"
SOCIAL_NETWORKS: "社交网络"
CATEGORIES: "分类"
SETTINGS: "设置"
CUSTOM_POSTS: "自定义博文"
CUSTOM_TAXO: "自定义分类"
CUSTOM_TAXO_TITLE: "{{term}}: {{name}}"
PUSH_NOTIFS: "推送通知"
PUSH_NOTIF_TITLE: "新内容发布！"
PUSH_NOTIF_TEXT: "【{{appTitle}}】刚刚发表了文章《{{postTitle}}》，现在就打开阅读吧？"
BOOKMARKS: "收藏夹"
BOOKMARKS_EMPTY: "暂无收藏内容！"
BOOKMARK_ADDED: "已收藏！"
BOOKMARK_REMOVED: "移除收藏！"
ZOOM: "Zoom"
CACHE_CLEAR: "Clear cache"
CACHE_CLEARED: "Cache cleared"
"tags":
    "title": "标签"
"tag":
    "title": "标签：{{name}}"
"categories":
    "title": "分类"
"category":
    "title": "分类：{{name}}"
"home":
    "title": "首页"
"search":
    "inputPlaceholder": "搜索"
    "title": "搜索"
    "titleQuery": "搜索：{{query}}"
"sharing":
    "shared": "已分享！"
AUTHORS: "作者"
AUTHOR: "作者"
AUTHOR_TITLE: "作者: {{name}}"
"pages":
    "title": "页面"
"posts":
    "title": "博文"
    "featured": "推荐"
"post":
    "comments": "评论"
    "openInBrowser": "用浏览器打开"
"about":
    "title": "关于"
"languages":
    "en": "英语"
    "fr": "法语"
    "zh": "中文"
    "es": "西班牙语"
    "pl": "波兰语"
    "de": "德语"
    "pt": "葡萄牙语"
    "it": "意大利语"
    "nl": "荷兰语"
    "ru": "俄语"
    "tr": "土耳其语"