<!--
  Generated template for the Posts page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <page-navbar [title]="'posts.title' | translate"></page-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      [pullingText]="'PULL_TO_REFRESH' | translate">
    </ion-refresher-content>
  </ion-refresher>

  <spinner [isVisible]="!(stream$ | async).length && isPaginationEnabled"></spinner>
  <post-card *ngFor="let post of (stream$ | async); trackBy: trackById" type="post" [@appear]="'in'" [post]="post" [onClick]="openPage"></post-card>
  <button *ngIf="shouldRetry" ion-button color="light" full (click)="doLoad()">Retry</button>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [enabled]="isPaginationEnabled">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>