toolbar {
    border-top: 1px solid $gray-lighter;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $gray-lighter2;
    button {
        color: $toolbar-button-color !important;
        &.active{
            color: $toolbar-button-active-color !important;
            opacity: 1;
        }
    } 
}
