<!--
  Generated template for the Toolbar component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<button *ngIf="categories && categories.length" ion-button icon-only clear color="light" round (click)="openCategories($event)">
  <ion-icon name="folder"></ion-icon>
</button>
<button *ngIf="tags && tags.length" ion-button icon-only clear color="light" round (click)="openTags($event)">
  <ion-icon name="pricetags"></ion-icon>
</button>
<span flex></span>
<button *ngIf="bookmarkId" ion-button icon-only clear color="light" round (click)="doBookmark($event)" [class.active]="isBookmarked$ | async">
  <ion-icon name="bookmark"></ion-icon>
</button>
<button ion-button icon-only clear color="light" round>
  <ion-icon name="share"></ion-icon>
</button>