spinner {
    > div {
        background-color: $loader-bg-color;
        z-index: $loader-zIndex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        ion-spinner * {
            width: $loader-width;
            height: $loader-height;
            stroke: $loader-stroke;
            fill: $loader-fill;
        }
        p {
            margin-top: 15px;
        }
    }
}
