###
# BEWARE!!!
# THIS FILE CANNOT BE MODIFIED
# YOU CAN OVERWRITE ANY OF THE FOLLOWING IN config/config.cson
# JUST COPY AND PAST WHAT YOU NEED TO CHANGE
###


"title": "Your Blog title"

"api":
    "baseUrl": "https://dev.julienrenaux.fr/wp-json"
    "namespace": "/wp/v2"
    "timeout": 30000
    "maxAttempt": 3

"serviceWorker":
    "enabled" : false

"menu":
    "externalLinkTarget" : null # _self|_blank|_system default: _system https://github.com/apache/cordova-plugin-inappbrowser#cordovainappbrowseropen
    "externalLinkOptions": null # default: 'location=yes'
    "exposeAsideWhen": "(min-width:900px)"
    "displayIcon": true # uses config/icons/icon_48.png
    "side": [
        
    ]

