###
# BEWARE!!!
# THIS FILE CANNOT BE MODIFIED
# YOU CAN OVERWRITE ANY OF THE FOLLOWING IN config/config.cson
# JUST COPY AND PAST WHAT YOU NEED
###



"title": "Your Blog title"

# API
"api":
    "baseUrl": "http://dev.julienrenaux.fr/wp-json"
    "timeout": 30000
    "maxAttempt": 3

"serviceWorker":
    "enabled" : false

# IONIC
"ionicConfig":
    "views":
        "transition": null
        "maxCache": 10
        "forwardCache": false
    "scrolling":
        "jsScrolling": false
    "backButton":
        "icon": null
        "previousTitleText": null
    "form":
        "checkbox": null
        "toggle": null
    "spinner":
        "icon": null
    "tabs":
        "style": null
        "position": null
    "templates":
        "maxPrefetch": null
    "navBar":
        "alignTitle": null
        "positionPrimaryButtons": null
        "positionSecondaryButtons": null

# MENU
"menu":
    "externalLinkTarget" : null # _self|_blank|_system default: _system https://github.com/apache/cordova-plugin-inappbrowser#cordovainappbrowseropen
    "externalLinkOptions": null # default: 'location=yes'
    "defaultState":
        "state": "public.posts"
        "params": {}
    "exposeAsideWhen": "(min-width:900px)"
    "displayIcon": true # uses config/icons/icon_48.png

# SETTINGS PAGE
"settings":
    "parameters":
        "defaultFontSize": "medium"

# CACHE
"cache":
    "img":
        "localCacheFolder": "imgcache"
        "useDataURI": false
        "chromeQuota": 10485760
        "usePersistentCache": true
        "cacheClearSize": 0
        "headers": {}
        "skipURIencoding": false
    "data":
        "capacity": 100
        "maxAge": 10800000
        "deleteOnExpire": "aggressive"
        "recycleFreq": 1000
        "cacheFlushInterval": null
        "storageMode": "localStorage"

# BOOKMARK PAGE
"bookmark":
    "cache":
        "capacity": 10

# POST PAGES
"post":
    "comments":
        "enabled": true
        "depth": 2
        "per_page": 50
    "cache":
        "maxAge": 10800000
        "capacity": 10

# SYNTAX HIGHLIGHTER FOR TECH BLOG
"syntaxHighlighter":
    "enabled": false
    "classPrefix": "hljs-"
    "tabReplace": "    "
    "useBR": false
    "languages": ["javascript", "html", "coffeescript", "html", "css", "scss", "json", "apache", "bash", "markdown", "less", "php", "apache", "typescript"]

# TAXONOMIES
"taxonomies":
    "query":
        "per_page": 5
        "orderby": "count"
        "order": "desc"
    "cache":
        "maxAge": 10800000

# AUTHOR
"authors":
    "query":
        "per_page": 5
    "cache":
        "capacity": 10
        "maxAge": 10800000

# PAGES PAGE
"pages":
    "query":
        "per_page": 5
        "filter[orderby]": "date"
        "filter[order]": "desc"
    "cache":
        "capacity": 10
        "maxAge": 10800000

# SEARCH PAGE
"search":
    "query":
        "per_page": 5
        "filter[orderby]": "date"
        "filter[order]": "desc"
        "filter[post_status]": "publish"

    "cache":
        "capacity": 25
        "maxAge": 10800000

# POSTS PAGE
"posts":
    "query":
        "per_page": 5
        "filter[orderby]": "date"
        "filter[order]": "desc"
        "filter[post_status]": "publish"

    "cache":
        "capacity": 25
        "maxAge": 10800000

# TRANSLATIONS
"translation":
    "displayed" : ["en", "fr", "zh", "es", "pl", "de", "pt", "it", "nl", "ru", "tr"]
    "prefered": "en"
    "available":
        "en":
            "en_*": "en"
        "fr":
            "fr_*": "fr"
        "zh":
            "zh_*": "zh"
        "es":
            "es_*": "es"
        "pl":
            "pl_*": "pl"
        "de":
            "de_*": "de"
        "pt":
            "pt_*": "pt"
        "it":
            "it_*": "it"
        "nl":
            "nl_*": "nl"
        "ru":
            "ru_*": "ru"
        "tr":
            "tr_*": "tr"
        "ur":
            "ur_*": "ur"

# ANALYTICS (GOOGLE ANALYTICS)
"analytics":
    "enabled": false
    "trackingId": ""
    "userId": ""
    "virtualPageTracking": true

# CORDOVA
"cordova":
    "nativeTransitions":
        "enabled": false
        "defaultOptions": null
        "defaultTransition" : null
        "defaultBackTransition" : null
    "statubar":
        "show": true
        "color": "#455a64"
    "admob":
        "enabled": false
        "android":
            "bannerID": null
            "bannerPosition": "BOTTOM_CENTER"
            "interstitialID": null
        "ios":
            "bannerID": null
            "bannerPosition": "BOTTOM_CENTER"
            "interstitialID": null
        "windows":
            "bannerID": null
            "bannerPosition": "BOTTOM_CENTER"
            "interstitialID": null
    "appRate":
        "enabled": false
        "language": "en"
        "appName": "Your Blog title"
        "openStoreInApp": true
        "usesUntilPrompt": 3
        "promptForNewVersion": true
        "useCustomRateDialog": ""
        "iosURL": ""
        "androidURL": ""
        "windowsURL": ""
    "pushNotifications":
        "enabled": false
        "baseUrl": "http://yourDomain.com/pnfw"
        "android":
            "senderID": ""
        "ios":
            "badge": true
            "sound": true
            "alert": true
            "clearBadge": true
