###
# BEWARE!!!
# THIS FILE CANNOT BE MODIFIED
# YOU CAN OVERWRITE ANY OF THE FOLLOWING IN config/config.cson
# JUST COPY AND PAST WHAT YOU NEED TO CHANGE
###

title: 'Your Blog title'
defaultZoom: 2 # Available: 0 to 8

# The user language is determined during runtime and if exists automatically used.
defaultLanguage: 'en' # Available: "en", "fr", "zh", "es", "pl", "de", "pt", "it", "nl", "ru", "tr"
defaultPage:
    page: 'list'
    params:
        type: 'posts'

tabs:
    highlight: true
    color: 'primary' # "primary", "secondary", "danger", "light", and "dark"
    mode: null # "ios", "md", or "wp"
    placement: null # top, bottom
    layout: 'icon-top' # icon-top, icon-left, icon-right, icon-bottom, icon-hide, title-hide

search:
    types: ['posts', 'pages']

# This is used to replace how list or items are displayed
# You can create your custom components and use it here instead of the default
components:
    item:
        posts: 'posts-item'
        pages: 'pages-item'
    list:
        posts: 'posts-list'
        pages: 'pages-list'
        categories: 'categories-list'
        tags: 'tags-list'

permalinks:
    post: ':year/:month/:day/:slug' # ':year/:month/:slug', ':archives/:id', ':slug'
    tag: 'tag/:slug'
    category: 'category/:slug'
    author: 'author/:username'

toast:
    duration: 3000
    position: 'bottom' # Accepted values: "top", "middle", "bottom".

api:
    baseUrl: 'https://dev.julienrenaux.fr/wp-json'
    namespace: '/wp/v2'
    timeout: 30000
    debounceTime: 400
    maxAttempt: 3
    per_page: 4

serviceWorker:
    enabled : false

menu:
    externalLinkTarget : null # _self|_blank|_system default: _system https://github.com/apache/cordova-plugin-inappbrowser#cordovainappbrowseropen
    externalLinkOptions: null # default: 'location=yes'
    exposeAsideWhen: '(min-width:900px)'
    displayIcon: true # uses config/icons/icon_48.png

pushNotifications:
    enabled: false
    plugin: 'push-notifications-for-wordpress'
    baseUrl: 'http://yourDomain.com/pnfw'
    android:
        senderID: null
    ios:
        badge: true
        sound: true
        alert: true

dev:
    log: '*' # https://github.com/visionmedia/debug

tags:
    query:
        orderby: 'count'
        order: 'desc'
        per_page: 10

categories:
    query:
        orderby: 'count'
        order: 'desc'
        per_page: 10


# the example of a custom taxonomies
actor:
    query:
        orderby: 'count'
        order: 'desc'
        per_page: 10
