post-card {
    display: block;
    .thumbnail {
        height: $post-img-height;
        width: 100%;
        background-color: $post-img-bg;
        background-size: cover;
        position: relative;
    }
}
