"pullToRefresh": "Tirer pour rafraîchir!"
"retry": "Réessayez"
"back": "Retour"
"error": "Quelque chose d'inattendu est survenu, veuillez réessayer."
"attemptToConnect": "Tentative de connection {{attempt}} sur {{attemptMax}}."
"yes": "Oui"
"no" : "Non"
"emptyList" : "La liste est vide!"
"menu":
    "title": "Menu"
    "home": "Accueil"
    "tags": "Tags"
    "pages": "Pages"
    "posts": "Articles"
    "authors": "Auteurs"
    "search": "Chercher"
    "bookmarks": "Signets"
    "socialNetworks": "Réseaux sociaux"
    "categories": "Categories"
    "settings": "Paramètres"
    "customPosts": "Custom posts"
    "customTaxonomy": "Custom Taxonomy"
"pushNotifications":
    "newContent":
        "title": "Nouveau contenu!"
        "text": "Un nouvel Article/Page '{{postTitle}}' vient d'être publié sur {{appTitle}}, voulez-vous le consulter?"
"bookmark":
    "title": "Signets"
    "emptyList" : "Aucun signet pour le moment!"
    "bookmarked" : "Signet ajouté!"
    "removed" : "Signet supprimé!"
"tags":
    "title": "Tags"
"tag":
    "title": "Tag: {{name}}"
"customTaxonomy":
    "title": "{{term}}: {{name}}"
"categories":
    "title": "Categories"
"category":
    "title": "Categorie: {{name}}"
"home":
    "title": "Accueil"
"search":
    "inputPlaceholder": "Recherche"
    "title": "Recherche"
    "titleQuery": "Recherche: {{query}}"
"sharing":
    "shared": "partagé avec succès!"
"authors":
    "title": "Auteurs"
"author":
    "title": "Auteurs: {{name}}"
"pages":
    "title": "Pages"
"posts":
    "title": "Articles"
    "featured": "A la Une"
"post":
    "comments": "Commentaires"
    "openInBrowser": "Ouvrir dans un navigateur"
"about":
    "title": "A propos"
"params":
    "title": "Paramètres"
    "offlineMode": "Mode offline (bientot)"
    "fontSize": "Taille du texte des articles"
    "language": "Langue"
"languages":
    "en": "Anglais"
    "fr": "Français"
    "zh": "Chinois"
    "es": "Espagnol"
    "pl": "Polonais"
    "de": "Allemand"
    "pt": "Portugais"
    "it": "Italien"
    "nl": "Néerlandais"
"fontSize":
    "small": "Petit"
    "medium": "Moyen"
    "large": "Large"
    "x-large": "XLarge"
    "xx-large": "XXLarge"
