<!--
  Generated template for the Post component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<div *ngIf="item">
  <div *ngIf="item.featured_media !== 0" class="thumbnail" [style.background-image]="'url(' + item.better_featured_image.media_details.sizes.medium.source_url + ')'"></div>
  <div class="main-content" padding>
    <h1 [innerHtml]="item.title.rendered" class="font-zoom"></h1>
    <author [link]="true" [author]="item._embedded.author[0]" [date]="item.date"></author>
    <toolbar [bookmarkId]="'post:' + item.id" [tags]="item._embedded['wp:term'][1]" [categories]="item._embedded['wp:term'][0]"></toolbar>
    <div [innerHtml]="item.content.rendered" class="font-zoom"></div>
    <toolbar [bookmarkId]="'post:' + item.id" [tags]="item._embedded['wp:term'][1]" [categories]="item._embedded['wp:term'][0]"></toolbar>
  </div>
</div>